@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1b1b44;
}

h6 {
    font-size: 1.1rem;
    color: #131313;
}

span {
    font-size: 0.9rem;
    color: #727070;
}

/* nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    z-index: 3;
}

nav img {
    width: 70px;
    height: 60px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;

}

nav .navigation ul li {
    list-style: none;
    margin-right: 2.5vw;
}

nav .navigation ul li a {
    text-decoration: none;
    color: #1b1b44;
    font-size: 1.3rem;
    font-weight: 400;
}

nav .navigation ul li a:hover {
    color: #F99C07;
    transition: 0.2s ease-in-out;
}

/* hero */

.hero {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(img/hero-section-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    padding-top: 40px;
}

.hero h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.hero p {
    margin-top: 10px;
    width: 50%;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
}

.hero a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 12px 35px;
    background-color: aliceblue;
    font-weight: 500;
    border-radius: 5px;
}

.hero .btn {
    margin-top: 30px;
}

.hero a.blueShade {
    color: aliceblue;
    background-color: #2a2af0;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
}

.hero a.blueShade:hover {
    color: #2a2af0;
    background-color: aliceblue;
}

.hero a.yellowShade {
    color: #1b1b44;
    background-color: #F99C07;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}

.hero a.yellowShade:hover {
    color: #F99C07;
    background-color: #1b1b44;
}

/* features */

.features {
    padding: 5vw 8vw 0;
    text-align: center;
}

.feature-box {
    background-color: aliceblue;
    text-align: start;
    padding: 1.5rem;
    border-radius: 10px;
}

.feature-box i {
    font-size: 3rem;
    color: #1b1b44;
}

.feature-box h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #212152;
    padding: 13px 0 7px 0;
}

.feature-box p {
    font-size: 1rem;
    color: #1b1b44;
    font-weight: 400;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: stretch;
    margin-top: 30px;
}

/* popular-courses */

.popular-courses {
    padding: 5vw 8vw;
    text-align: center;
}

.course-box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: stretch;
}


.courses {
    text-align: start;
    background-color: aliceblue;
    position: relative;
    border-radius: 10px;
}

.courses img {
    width: 100%;
    height: 65%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.course-details {
    padding: 10px 15px;
}

.course-details .rating i {
    color: #F99C07;
    font-size: 0.9rem;
}

.course-details .pricing {
    background-color: #212152;
    color: aliceblue;
    line-height: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 85px;
}

/* registration */

.registration {
    padding: 6vw 8vw;
    background-image: linear-gradient(rgba(48, 55, 87, 0.5), rgba(84, 94, 240, 0.5)), url(img/registration.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration .reminder h1 {
    color: aliceblue;
}

.registration .reminder {
    color: aliceblue;
}

.registration .reminder .timer {
    display: flex;
    margin-top: 30px;
}

.registration .reminder .timer .time {
    text-align: center;
    padding: 12px 20px;
    background-color: rgba(58, 58, 58, 0.6);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(49, 57, 158, 0.4);
    border-radius: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid rgba(240, 248, 255, 0.2);
}

.registration .registration-form {
    background-color: rgba(58, 58, 58, 0.61);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(49, 57, 158, 0.4);
    border: 1px solid rgba(240, 248, 255, 0.2);
}

.registration .registration-form h3 {
    color: aliceblue;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    font-weight: 400;
}

.registration .registration-form input {
    margin: 10px 0;
    padding: 15px 10px;
    border: 1px solid aliceblue;
    outline: none;
    font-family: inherit;
    background-color: aliceblue;
    border-radius: 5px;
    color: #1b1b1b;
    letter-spacing: 1px;
}

.registration .registration-form input::placeholder {
    font-family: inherit;
    color: #1b1b1b;
    font-weight: 300;
    letter-spacing: 1px;
}

.registration .registration-form .btn {
    margin-top: 30px;
}

.registration .registration-form .btn a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 12px 35px;
    background-color: aliceblue;
    font-weight: 500;
    border-radius: 5px;
}

.registration .registration-form .btn a.yellowShade {
    color: #1b1b44;
    background-color: #F99C07;
    transition: 0.3s ease-in-out;
}

.registration .registration-form .btn a.yellowShade:hover {
    color: aliceblue;
    background-color: #1b1b1b;
}

/* experts */

.experts {
    padding: 5vw 8vw;
    text-align: center;
}

.experts-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: stretch;
}

.expert {
    background-color: #54546d;
    padding: 40px 10px;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 8px 15px 0 rgba(49, 57, 158, 0.4);
    transition: 0.2s ease-in-out;
}

.expert:hover {
    transform: scale(1.03);
}

.expert .expert-img {
    position: relative;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.expert-img img {
    width: 100%;
    height: auto;
}

.expert h6 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 1px;
    color: aliceblue;
}

.expert p {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.expert .socials {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #1b1b44;
}

.expert .socials i {
    padding: 10px;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.expert .socials .fa-twitter:hover {
    color: #1da1f2;
    transform: scale(1.1);
}

.expert .socials .fa-linkedin-in:hover {
    color: #0077b5;
    transform: scale(1.1);
}

.expert .socials .fa-instagram:hover {
    color: #e1306c;
    transform: scale(1.1);
}

.expert .socials .fa-facebook-f:hover {
    color: #3b5998;
    transform: scale(1.1);
}

/* footer */

footer {
    padding: 5vw 8vw;
    background-color: #1b1b44;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .foot-col {
    padding-bottom: 40px;
}

footer .foot-col h3 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 20px;
}